@if (countries.length === 0 ) {
<div class="alert alert-warning text-center">No hay países que mostrar</div>
}@else {
<ng-container [ngTemplateOutlet]="table" class="col-12"></ng-container>
}
<ng-template #table>
  <table class="table table-hover table-responsive col-10">
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of paginatedCountries; track $index; let i = $index) {

      <tr>
        <td>{{ (currentPage - 1) * limit + i + 1 }}</td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common" style="width: 30px" />
        </td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number }}</td>
        <td>
          <a [routerLink]="['/', 'countries', 'country', country.cca3]">Ver más</a>
        </td>
      </tr>
      }
    </tbody>
  </table>

  @if(countries.length > limit){
  <div class="col-12 pagination flex justify-content-center">
    <button class="btn btn-primary btn-sm" (click)="prev()">Siguiente</button>
    @for (page of [].constructor(numberPages); track $index; let i = $index) {
    @if(i+1 <= currentPage + 2 && i+1 >= currentPage-2 ){

      <button class="btn mx-1 btn-sm" [class.btn-outline-success]="currentPage === i + 1" (click)="pagination(i + 1)">
        {{ i + 1 }}
      </button>
      } }
      <button class="btn btn-primary btn-sm" (click)="next()">Siguiente</button>
  </div>
  }
</ng-template>