<h2>Búsqueda por región</h2>
<hr />

<div class="row">
  <div class="d-flex justify-content-center">
    @for (region of regions; track $index) {
    <button
      class="btn mx-auto"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
    }
  </div>
  <!-- <shared-search-box
      placeHolder="Buscar por capital"
      (inputValue)="searchByCapital($event)"
    ></shared-search-box> -->
</div>
<hr />

<div class="row">
  <div class="col">
    @if (isLoading) {
        <shared-loading></shared-loading>
      }
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
